body {
    background-color: #230087;
    font-family: 'Inter', sans-serif;
    color: white;
    margin: 0;
}

#flex-container {
    display: flex;
    flex-direction: column;
}

#title {
    text-align: center;
    margin-top: 40px;
}

.tips {
    display: flex;
    flex-direction: row;
    background-color: #FF00B8;
    width: 700px;
    height: 70px;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 30px;
    margin-left: calc(50% - 350px);
    margin-bottom: 15px;
    text-transform: capitalize;
}

#tips-list {
    list-style: none;
    margin-top: 40px;
}

#pokemon {
    max-width: 240px;
    min-width: 240px;
    height: 30px;
    margin-left: calc(50% - 120px);
    margin-top: 10px;
    border:  3px solid #FF00B8;
    border-radius: 15px;
    text-align: center;
    outline: none;
    text-transform: uppercase;
}

input::placeholder {
    text-align: center;
}

input:disabled {
    background-color: red;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

input.correct:disabled {
    background-color: green;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

#guess-button {
    max-width: 160px;
    min-width: 160px;
    height: 40px;
    background-color: #FF00B8;
    color: white;
    border: none;
    margin-left: calc(50% - 80px);
    margin-top: 20px;
    font-weight: 700;
    font-size: 25px;
}

img.hidden-pokemon {
    filter: brightness(0);
    height: 50px;
}
